<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('node_modules')
    ->exclude('build')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => TRUE,
        'linebreak_after_opening_tag' => TRUE,
        'logical_operators' => TRUE,
        'lowercase_cast' => TRUE,
        'magic_method_casing' => TRUE,
        'blank_line_after_opening_tag' => TRUE,
        'blank_line_before_statement' => [
            'statements' => ['break', 'continue', 'declare', 'return', 'throw', 'try'],
        ],
        'declare_equal_normalize' => TRUE,
        'declare_equal_normalize' => [
          'space' => 'single',
        ],
        'strict_param' => true,
        'array_syntax' => ['syntax' => 'short'],
        'native_function_invocation' => TRUE,
        'yoda_style' => TRUE,
        'is_null' => TRUE,
        'strict_comparison' => FALSE,
        'no_blank_lines_after_class_opening' => TRUE,
        'no_blank_lines_after_phpdoc' => TRUE,
        'single_blank_line_at_eof' => TRUE,
        'trailing_comma_in_multiline_array' => TRUE,
        'no_unused_imports' => TRUE,
        'no_empty_comment' => TRUE,
        'no_empty_phpdoc' => TRUE,
        'no_empty_statement' => TRUE,
    ])
    ->setFinder($finder);